* {
    margin:0;
    padding: 0;
}

body {
    cursor: none !important;
}

.main {
    width: 100vw;
    height: 100vh;
}

#custom-cursor {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: rgb(58, 65, 64);
    transform: translate(-7px, -7px);
    border-radius: 50%;
    animation: cursorPulse 1.5s linear infinite;
}

@keyframes cursorPulse {
    0% {
        opacity: 1;
        transform: scale(1) translate(-7px, -7px);
    }
    50% {
        opacity: .8;  
        transform: scale(.8) translate(-7px, -7px);      
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(-7px, -7px);
    }
}
